@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';
@import 'https://use.fontawesome.com/releases/v5.8.2/css/all.css'

.wrap {
  margin: auto;
  width: 60%;
  height: 100%;
  border: 1px red solid;
  display: inline-block;
}

h1 {
  text-align: center;
  margin: 1em;
  background-color: purple;
  padding: 0.5em;
}

form {

}